{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}


{% block title %}博客登录{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>登录</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <p>忘记密码? <a href="{{ url_for('auth.password_reset_request') }}">点击这里重置密码</a>。</p>
            <p>新用户？<a href="{{ url_for('auth.register') }}">点击这里注册</a>。</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
